*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #252525;

  background-color: #252525;
}

button {
  padding: 0.5rem 1.5rem;

  font: inherit;
  color: #ffffff;

  background-color: #3c0080;
  border: 1px solid #3c0080;
  border-radius: 6px;

  cursor: pointer;
}

button:hover,
button:active {
  background-color: #5b14ac;
  border-color: #5b14ac;
}
